* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
}
body{
    display:flex;
    align-items: center;
    justify-content:center;
    min-height: 100vh;
    background:linear-gradient(#B7328D, #AC18C0) ;
    
}
.container{
    border: solid 1px slategray
}
table{
    color: #fff;
    font-size: 14px ;
    table-layout: fixed;
    border-collapse: collapse;
}
thead{
    background: lightpink;
}
th{
    padding: 20px 15px;
    font-weight: 700;
    text-transform:uppercase ;
}
td{
    padding: 15px;
    border-bottom: solid 1px slategray;
}
tbody tr:hover{
background: fuchsia;
}
